.NavBar {
	height: 80px;
	background-color: var(--NavBar-bg-color);
}

.NavBar-item {
	display: inline-block;
	width: 25%;
	text-align: center;
	line-height: 80px;
	text-decoration: none;
	color: white;
	font-family: monospace;
	text-transform: uppercase;
}

.NavBar-item:hover {
	color: var(--NavBar-hover-link);
}

.NavBar-item--active {
	color: #40f598;
}